<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <div class="container">
    <div class="col">
      <h2>Dance</h2>
      <div class="caption">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam facere, dolor ipsum enim consequuntur officiis beatae sint illum accusamus at. Eligendi recusandae maxime odio cum tempore in officiis porro dolor!</p>
        <button type="button">Know More</button>
      </div>
      <img src="assets/Images/img1.png" alt="">

    </div>

    <div class="col">
      <h2>Jym</h2>
      <div class="caption">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam facere, dolor ipsum enim consequuntur officiis beatae sint illum accusamus at. Eligendi recusandae maxime odio cum tempore in officiis porro dolor!</p>
        <button type="button">Know More</button>
      </div>
      <img src="assets/Images/img2.png" alt="">
    </div>

    <div class="col">
      <h2>Yoga</h2>
      <div class="caption">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam facere, dolor ipsum enim consequuntur officiis beatae sint illum accusamus at. Eligendi recusandae maxime odio cum tempore in officiis porro dolor!</p>
        <button type="button">Know More</button>
      </div>
      <img src="assets/Images/img3.png" alt="">

    </div>
  </div>
</body>
</html>